<div class="contact">
    <h2>Rails Music</h2>
    <h3>CONTACT US</h3>
    <p>Mail Address</p>
    <input>
    <p>Contents</p>
    <textarea></textarea>
    <br>
    <input type="submit" value="Send">
  </div>

  <%= stylesheet_link_tag "audios/audios_contact", :media => "all" %>
