<p id="notice"><%= notice %></p>

<h1>Rails Music</h1>

<div>
  <input type="button" onclick="location.href='http://192.168.99.100:3000/audios/record'"value="To Record">
  <input type="button" onclick="location.href='http://192.168.99.100:3000/audios/up'"value="To Upload">
</div>

<% Audio.all.reverse_order.each do |upload| %>
  <li><%= link_to upload.title %>aaaa</li>
  <!--  <li><%#= link_to 'Destroy', uploader_delete_path_path(upload), method: :delete, data: { confirm: 'Are you sure?' } %></li>-->
<% end %>
