<p id="notice"><%= notice %></p>

<h1>Rails Music</h1>

<div>
  <input type="button" onclick="location.href='http://192.168.99.100:3000/audios/record'"value="To Record">
  <input type="button" onclick="location.href='http://192.168.99.100:3000/audios/up'"value="To Upload">
</div>

