<p id="notice"><%= notice %></p>

<h1>To Record</h1>

<div>
  <input type="button" onclick="location.href=''"value="START">
  <input type="button" onclick="location.href=''"value="STOP">
</div>

<br>

<%= link_to 'TOPへ戻る', audios_path %>

<%= javascript_include_tag "audios_record.js" %>