<p id="notice"><%= notice %></p>

<h1>To Upload</h1>

<%= render 'form', audio: @audio %>

<audio preload="metadata" controls>
<source src="C:\Users\small\Downloads\Music Sample\new_world.mp3" type="audio/mp3">
</audio>

<%= link_to 'TOPへ戻る', audios_index_path %>
